* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    font-family: sans-serif;
    background: #353e4a;
}

h1 {
    margin: .5rem 0 1em;
    color: #fff;
}

#grid {
    margin: auto;
    border-spacing: 0;
    border-collapse: collapse;

     td {
        border: 1px solid gray;

        input[type="checkbox"] {
            appearance: none;
            display: block;
            width: 20px;
            height: 20px;
            border: 0;
            background: #f8f8ef;
            &:checked{
                background: #04d0d9;
                // box-shadow: 0 0 0 99px black inset;
            }
        }
    }
}

button {
    margin: 0.5rem;
    background: #9acb34;
    padding: 0.3rem 0.7rem;
    border: none;
    color: #fff;
}

label {
    color: #fff;
}


